@media (min-width: 576px) { 
  body{  
    background-image: url(../images/bg-pattern-bottom-desktop.svg),
                      url(../images/bg-pattern-top-desktop.svg) ;
    background-repeat: no-repeat,
                       no-repeat;
    background-position: bottom right,
                         left top ;
    background-size: 60% , 40%;
  } 
  .rate-item{
    width: 400px;
  }
} 
@media (min-width: 992px) { 
  .comment{
    height: 300px;
  }
  .rate-item:nth-child(2){
    justify-self: center;
  }
  .rate-item:last-child{
    justify-self: end;
  }  
}
 @media (min-width: 1200px) { 
  .rate-item{
    width: 64% !important;
  }
}
@media (min-width: 576px) and (max-width: 991.98px) {
  .rate-section{
    justify-content: center;
  }  
 }
@media (max-width: 345.98px){
  .description p:first-child {
    padding: 0px 42px 0 42px !important;
  }
}
 @media (max-width: 575.98px) { 
  body{  
    background-image: url(../images/bg-pattern-bottom-mobile.svg),
                      url(../images/bg-pattern-top-mobile.svg) ;
    background-repeat: no-repeat,
                       no-repeat ;
    background-position: bottom right,
                         left top ;
    background-size: 100% , 100%;
  }
  .rate-item{
    width: 100% !important;
  }
  .comment-item {
    width: 100%;        
  }
  .description p:first-child {
    padding: 0px 56px 0 56px;
  } 
}
 @media (min-width: 576px) and (max-width: 767.98px) { 
  .comment-item {
    margin-left: auto;
    margin-right: auto;
    width: 400px !important;
  } 
  .description{
  padding: 0px 55px 0 55px;
  }     
}  
@media (min-width: 768px) and (max-width: 991.98px) { 
  .comment-item {
    margin-left: auto;
    margin-right: auto;
    width: 500px !important;
  }
  .description{
    padding: 0px 70px 0 70px;
  }
  .comment-body{
    padding-left: 0 !important;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .comment-item {    
    width: 292px !important;
  }
  .description{
    padding-right:52px;
  }
  .description p:first-child {
    padding-right:140px !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .comment-item {    
    width: 345px !important;
  }
  .description{
    padding-right:130px;
  }
  .description p:first-child {
    padding-right:158px !important;
  }
}
 @media (min-width: 1400px) { 
  .comment-item {    
    width: 372px !important;
  }
  .description{
    padding-right:170px;
  }
  .description p:first-child {
    padding-right:160px !important;
  }
}